@font-face {
  font-family: lexend;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: lexend;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/BigShouldersDisplay-Regular.ttf);
}
body {
  background: hsl(0, 0%, 95%);
}

section.container {
  display: flex;
  justify-content: center;
  margin: 8rem 15rem;
  font-family: lexend;
}
.columns  {
  width: 45%; 
}
.car-image {
  margin-top: 2rem;
}
.car-image, .titles, .p, .btn {
  margin-left: 2rem;
}
.titles {
  font-family: big-shouder;
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.p {
  color: hsla(0, 0%, 100%, 0.75);
  width: 70%;
  font-size: 1.05rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lexend;
  background: white;
  width: 60%;
  height: auto;
  padding: 5% 0;
  margin: 3rem 2rem;
  border: 2px solid white;
  border-radius: 40px;
  mix-blend-mode: screen;
}
.btn:hover {
  cursor: pointer;
  background: none;
  color: white;
}
a {
  color: inherit;
}
.column1 {
  background: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}
.column2 {
  background: hsl(184, 100%, 22%);
}
.column3 {
  background: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}

/* FOOTER
======================== */
FOOTER  {
  font-family: monospace;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.myname {
  color: black;
  font-weight: bold;
}